<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boa Ação é Doação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/paginaPrincipal.css">
</head>
<body>

<header class="header d-flex justify-content-between align-items-center bg-light p-3 shadow-sm">
    <img src="/assets/img/logo do brasil.jpg" alt="Logo" style="height: 150px;">
    <h5 class="text-uppercase text-primary">Juntos nós podemos combater a fome</h5>
    <a href="doacao.html" class="btn btn-primary btn-lg px-4 py-3">Doe Agora</a>
</header>

<div class="banner bg-blue text-white py-5">
    <section class="row align-items-center container mx-auto">
        <div class="col-md-6">
            <img src="/assets/img/img-doacao.png" alt="Imagem de Doações" class="img-fluid rounded styled-banner-img">
        </div>
        <div class="col-md-6">
            <h2 class="text-center text-white">A FOME AINDA NÃO ACABOU</h2>
            <p class="text-justify">Facilitamos o acesso à doação e promovemos transparência na luta contra a fome. Junte-se a nós para fazer a diferença na vida de milhares de pessoas.</p>
            <a href="doacao.html" class="btn btn-light btn-lg px-4 py-3 mt-3">Doe Agora</a>
        </div>
    </section>
</div>

<div class="row text-center my-5 container mx-auto">
    <div class="col-md-4">
        <div class="card shadow-lg p-4" style="min-height: 250px;">
            <h4 class="card-title text-danger fw-bold fs-3">64 MILHÕES</h4>
            <p class="card-text fs-5">DE BRASILEIROS VIVEM COM ALGUM GRAU DE INSEGURANÇA ALIMENTAR</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-lg p-4" style="min-height: 250px;">
            <h4 class="card-title text-danger fw-bold fs-3">8,7 MILHÕES</h4>
            <p class="card-text fs-5">DE BRASILEIROS PASSAM FOME NO BRASIL</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-lg p-4" style="min-height: 250px;">
            <h4 class="card-title text-danger fw-bold fs-3">37%</h4>
            <p class="card-text fs-5">DOS LARES BRASILEIROS COM CRIANÇAS DE 0 A 4 ANOS ESTÃO EM INSEGURANÇA ALIMENTAR</p>
        </div>
    </div>

    <div class="text-center">
        FONTE: IBGE
    </div>
</div>

  
<section class="objetivos-section mt-4 text-center">
    <div class="caixa-objetivos p-4">
        <h3 class="text-center">Nossos Objetivos</h3>
        <p class="text-justify mt-3">
            Nosso principal objetivo é facilitar o acesso à doação, oferecendo uma interface simples e acessível para que qualquer pessoa possa contribuir de forma significativa. Trabalhamos para aumentar a visibilidade das necessidades alimentares, destacando os itens mais urgentes e promovendo a conscientização sobre o impacto da fome. Além disso, garantimos total transparência e rastreabilidade, permitindo que nossos doadores acompanhem de perto o destino e o impacto de suas contribuições. Por fim, acreditamos que a educação e a sensibilização são pilares fundamentais na luta contra a fome, e por isso nos dedicamos a informar e engajar nossa comunidade sobre a importância da doação de alimentos.
        </p>
        <a href="doacao.html" class="btn btn-primary btn-lg px-4 py-3 mt-3">Doe Agora</a>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
